<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Consulta de Incidentes" blockClass="table-border-style">
      <form [formGroup]="pesquisaForm" >
        <div class="row">
          <div class="form-group col-md-3" style="margin-left:58%">
            <input type="text"  class="form-control" name="pesquisar"  formControlName="pesquisar"  placeholder="pesquisar">
          </div>
          <div>
            <button style="margin-left:-31%;" type="submit" (click)="pesquisa()" class="btn btn-icon btn-outline-primary"><i class="feather icon-search"></i></button>
          </div>
          <div>
            <button style="margin-left:0%;" type="reset" class="btn btn-outline-warning" (click)="limpar()">Limpar</button>
          </div>
          <div>
            <button  style="margin-left:15%;" type="button" class="btn btn-outline-primary"  (click)="cadastrar()" >Cadastrar</button>
          </div>
          <div class="col-md-6">
            <app-alert type="primary" *ngIf="sucesso == true">salvo com sucesso</app-alert>
          </div>
        </div>
      </form>
      <div class="table-responsive" >
        <table class="table table-hover" >
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let incidentes of lista | slice: (page-1) * pageSize : page * pageSize">
              <td>{{incidentes.nome}}</td>
              <td>{{incidentes.descricao}}</td>
              <td>{{incidentes.ativo ? 'Ativo' : 'Inativo'}}</td>
              <td class="text-right">
                <button type="button"  (click)="editar(incidentes.idIncidente)"  class="btn btn-icon btn-warning"
                style="font-size: 13px; margin-right: 2%;"><i
                class="feather icon-edit"></i> Editar</button>
                <button type="button" class="btn btn-icon btn-info" style="font-size: 13px;  margin-right: 2%;" (click)="pegaId(incidentes.idIncidente);confirmaModal.show()"> {{incidentes.ativo ? 'Desativar' : 'Ativar'}}</button>
              </td>
            </tbody>
          </table>
          <ngb-pagination
          class="d-flex justify-content-center"
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="lista.length"></ngb-pagination>
        </div>
      </app-card>
    </div>
  </div>

  <app-ui-modal #confirmaModal [containerClick]="false" >
    <div  class="app-modal-header">
      <h5  class="modal-title">Confirmação</h5>
      <button type="reset" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="confirmaModal.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <p > Tem certeza que deseja {{ varConfirm }} esse item?</p>
    </div>

    <div class="app-modal-footer">
      <div style="float: left; margin-left: 10px; margin-right: 10px;">
        <button type="reset" class="btn btn-outline-warning"  data-dismiss="modal" (click)="confirmaModal.hide()">NAO</button>
      </div>
      <div style="margin-left: 100px;">
        <button type="reset" class="btn btn-primary" (click)="mudarStatus();confirmaModal.hide()" >SIM</button>
      </div>
    </div>
  </app-ui-modal>
