<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ tituloModal }}</h5>
    <button
      type="button"
      class="close basic-close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <span> <b>Paciente: </b> {{ checklist.paciente.nome }}</span>
    </div>
 <br/>
    <div>
      <span> <b>Prontuario: </b> {{ checklist.paciente.prontuario }}</span>
    </div>
    <br />
    <div>
      <span
        ><b>Quem fez - </b> <b>{{ checklist.usuario.perfil }}: </b>
        {{ checklist.usuario.nome }}</span
      >
    </div>
    <br />
<div>
      <span
        ><b>Data e hora - </b>
        {{ checklist.dataCadastroFormatada }}</span
      >
    </div>
    <br />
    <div>
      <b>Fatores de risco: </b>
      <span   style="word-break: break-word"      *ngFor="let fatorRisco of checklist.fatorRisco">
       <br> {{ fatorRisco.nome }}
      </span>
    </div>
    <br/>
    <div  >
      <b>Incidentes: </b>
      <span   style="word-break: break-word"      *ngFor="let incidente of checklist.incidente">
      <br>  {{ incidente.nome }}
      </span>
    </div>
    <br/>
    <div >
      <b>Procedimentos: </b>
      <span   style="word-break: break-word"      *ngFor="let procedimento of checklist.procedimento">
      <br>  {{ procedimento.nome }}
      </span>
    </div>
    <br/>
     <div >
      <b>Precauções: </b>
      <span   style="word-break: break-word"      *ngFor="let precaucao of checklist.precaucao">
         <br>{{ precaucao.nome }}
      </span>
    </div>
    <br/>
    <div>
      <span>
        <b>Observação: </b>
        <span style="word-break: break-word">
         <br> {{ checklist.observacao }}</span
        ></span>
      <!-- <textarea disabled="" class="form-control" id="descricao" [value] =""rows="5"></textarea> -->
    </div>
  </div>
  <div class="modal-footer"></div>
</div>
