
.mt-n1 {
  margin-top: 60px !important;
}
.frase{
  position: relative;
     bottom: 15px;
}
.alert{
  position: relative;
     bottom: 28px;
}
.mt-n2 {
  position: relative;
     top: 35px;
}

.mt-n3 {
  position: relative;
     top: 71px;
}
.field-size{
  height:45px;
}
.field-size-botton{
  height:37px;
  width: 210px;

}
.button{
  position: relative;
  margin: 0 auto;
     top: 175px;
}

.font-red {
  color: #F05151;
}
.border-red {
  border: 1px solid #F05151;
}
