<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logosi.png" alt="" class="img-fluid mb-5">
            <br>
            <br>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="digite sua matrícula">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="digite sua senha">
            </div>

            <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                <label for="checkbox-fill-a1" class="cr"> salvar credenciais</label>
              </div>
            </div>
            <br>
            <br>
            <button class="btn btn-block btn-primary mb-4" (click)="logar()">Entrar</button>
            <p class="mb-2 text-muted">Esqueceu sua senha? <a [routerLink]="['/auth/reset-password']" class="f-w-400"></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
