<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Cadastro de Paciente </h5>
    <button type="reset" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="col-md-13">
      <app-alert type="primary" *ngIf="sucesso == true">Salvo com sucesso</app-alert>
    </div>
    <div class="col-md-13">
      <app-alert type="danger" *ngIf="mensagemErro!==''">{{mensagemErro}}</app-alert>
    </div>
    <form [formGroup]="formulario">
      <label for="nome">Nome:</label>
      <input id="nome" class="form-control" aria-describedby="nomeHelp" formControlName="nome" placeholder="Digite o nome do paciente">
      <br>
      <label for="nomeMae">Nome da Mãe:</label>
      <input id="nomeMae" class="form-control" aria-describedby="nomeMaeHelp" placeholder="Digite o nome da Mãe" formControlName="nomeMae">
      <br>
      <div class="row col-6 col-md-6" style="display: inline-block; ">
        <label for="prontuario">Número do Prontuário:</label>
        <input id="prontuario" class="form-control" aria-describedby="prontuarioHelp" maxLength="50" formControlName="prontuario" placeholder="Digite o número do prontuário" [ngClass]="aplicaCssErro('prontuario')">
        <div *ngIf="verificaValidTouched('prontuario')">
          <span class="font-red">Número do prontuario é obrigatório</span>
        </div>
        <br>
      </div>
      <div class="row col-6 col-md-6" style="display: inline-block;float:right">
        <label for="cpf">CPF:</label>
        <input id="cpf" type="text" class="form-control" aria-describedby="cpfHelp" placeholder="Digite o CPF" formControlName="cpf" mask="000.000.000-00"/>
        <br>
      </div>
      <br>
      <div class="row col-6 col-md-6" style="display: inline-block;float:right">
        <label for="rg">RG:</label>
        <input id="rg" class="form-control" aria-describedby="rgHelp" placeholder="Digite o RG" formControlName="rg">
        <br>
      </div>
      <div class="row col-6 col-md-6" style="display: inline-block;">
        <label for="genero">Sexo:</label>
        <select class="form-control" id="genero" formControlName="genero" [(ngModel)]="genero">
          <option value="">Selecione...</option>
          <option *ngFor="let genero of listaSexos" [value]="genero.nome">{{genero.nome}}</option>
        </select>
        <br>
      </div>
      <div class="row col-6 col-md-6" style="display: inline-block; margin-bottom:17px">
        <label for="dataNascimento">Data de nascimento:</label>
        <br>
        <div class="form-check col-3 col-md-3" style="display: inline-block;margin-right:35px">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">Não</label>
        </div>
        <div class="form-check col-2 col-md-2" style="display: inline-block;">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">Sim</label>
        </div>
        <br>
          <div class="col-15 col-md-9" style="margin-top:10px;margin-left:-15px">
        <input  type="date" required="true" class="form-control" formControlName="dataNascimento" [(ngModel)]="today" id="dataNascimento">
          </div>
      </div>
      <div class="row col-6 col-md-6" style="display: inline-block;float:right;" *ngIf="editar===false">
        <label>Departamento:</label>
        <select class="form-control" id="departamento" formControlName="departamento" [(ngModel)]="departamento">
          <option value="">Selecione...</option>
          <option *ngFor="let departamento of listaDepartamento" [value]="departamento.idDepartamento">{{departamento.nome}}</option>
        </select>
        <br>
      </div>



      <label for="precaucao">Precauções:</label>
      <div id="precaucao" style="border-radius: 5px; border: 1px solid #ccc; padding: 10px 0 " class="row  ml-0 mr-0">
        <div class="checkbox" class="col-sm-6" formArrayName="precaucao" *ngFor="let precaucao of listaPrecaucoes; let i=index">
          <label class="checkbox-inline">
            <input type="checkbox" [value]="precaucao.idPrecaucao" (change)="onCheckChange($event)" /> {{precaucao.nome}} </label>
        </div>
        <br>
      </div>
      <br>
    </form>
  </div>
  <div class="modal-footer">
    <div style="margin-left: 200px;">
      <button type="submit" class="btn btn-primary" style="margin-left:-16%; font-size: 16px;" (click)="valid()"><i class="feather icon-save"></i> Salvar</button>
    </div>
  </div>

</div>
