<div class="modal-content"  >
  <div class="modal-header">
    <h5  class="modal-title">Cadastro de Pacientes </h5>
    <button type="reset" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="modal-body">
    <div class="col-md-13">
      <app-alert type="primary" *ngIf="sucesso == true">salvo com sucesso</app-alert>
    </div>
    <div class="col-md-13">
      <app-alert type="danger" *ngIf="mensagemErro!==''">{{mensagemErro}}</app-alert>
    </div>
    <form  [formGroup]="formulario"  >
      <label for="prontuario">Número do Prontuário:</label>
      <input  id="prontuario" class="form-control" aria-describedby="prontuarioHelp" maxLength="50"
      formControlName="prontuario" placeholder="Digite o número do prontuário" [ngClass]="aplicaCssErro('prontuario')">
      <div *ngIf="verificaValidTouched('prontuario')">
        <span class="font-red">Número do prontuario é obrigatório</span>
      </div>
        <br>
      <label for="nome">Nome:</label>
      <input  id="nome"  class="form-control" aria-describedby="nomeHelp"
      formControlName="nome"  placeholder="Digite o nome do paciente">
      <br>
      <label for="cpf">CPF:</label>
      <input  id="cpf" class="form-control" aria-describedby="cpfHelp"
      placeholder="Digite o CPF" formControlName="cpf">
      <br>
      <label for="nomeMae">Nome da Mãe:</label>
      <input  id="nomeMae"  class="form-control" aria-describedby="nomeMaeHelp"
      placeholder="Digite o nome da Mãe" formControlName="nomeMae">
      <br>
      <label>Sexo:</label>
      <select class="form-control"  id="sexo" formControlName="sexo" >
        <option *ngFor="let sexo of listaSexos" [value]="sexo.valor">{{sexo.nome}}</option>
      </select>
      <br>
      <label>Departamento:</label>
      <select class="form-control"  id="departamento" formControlName="departamento">
        <option *ngFor="let departamento of listaDepartamento" [value]="departamento.idDepartamento">{{departamento.nome}}</option>
      </select>
      <br>
      <label for="precaucao">Precauções:</label>
      <div id="precaucao" class="row">
        <div class="checkbox" class="col-sm-4" formArrayName="precaucao"  *ngFor="let precaucao of listaPrecaucoes; let i=index" >
        <label class="checkbox-inline">
          <input type="checkbox" [value]="precaucao.idPrecaucao" (change)="onCheckChange($event)"/>  {{precaucao.nome}}  </label>  </div>
      </div>
      <br>
      <label for="nomeMae">Data de nascimento:</label>
      <br>
      <div class="row" >
        <div class="form-group col-md-6">
            <input class="form-control" type="date" formControlName="dataNascimento" id="datepicker" >
        </div>
      </div>
        <app-form-debug  [form]="formulario"></app-form-debug>
    </form>
  </div>
  <div class="modal-footer">
    <div style="margin-left: 200px;">
      <button type="submit" class="btn btn-primary" style="margin-left:-16%; font-size: 16px;"(click)="valid()"><i
        class="feather icon-save"></i> Salvar</button>
      </div>
    </div>

  </div>
