<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Consulta de Pacientes" blockClass="table-border-style">
        <div class="row">
          <div class="form-group col-md-3" style="margin-left:62%">
            <input type="text"  class="form-control" name="pesquisa" [(ngModel)]="searchText" placeholder="pesquisar">
          </div>
          <div>
            <button style="margin-left:-14%;" type="reset" class="btn btn-outline-warning" >Limpar</button>
          </div>
          <div>
            <button  style="margin-left:1%;" type="button" class="btn btn-outline-primary" (click)="cadastrar()" >Cadastrar</button>
          </div>
        </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Prontuário</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">RG</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of lista |slice: (page-1) * pageSize : page * pageSize">
          <td>{{paciente.prontuario}}</td>
          <td>{{paciente.nome}}</td>
          <td>{{paciente.cpf}}</td>
          <td>{{paciente.rg}}</td>
          <td>{{paciente.dataNascimento}}</td>
          <td class="text-right">
            <button type="button" class="btn btn btn-primary" style="font-size: 12px;  margin-right: 2%;"><i
              class="feather icon-check-square"></i> Checklist</button>

              <button type="button" class="btn btn btn-warning" style="font-size: 12px; width:90px; margin-right: 2%;" ><i
                class="feather icon-edit"></i> Editar</button>

                <button type="button" class="btn btn-info" style="font-size: 12px; margin-right: 2%;"><i
                  class="feather icon-external-link"></i> Transferência</button>

                  <button type="button" class="btn  btn-secondary" style="font-size: 12px;  margin-right: 2%;"><i
                    class="feather icon-clipboard"></i> Histórico checklist</button>

                    <button type="button" class="btn btn btn-dark" style="font-size: 12px; margin-right: 2%;"><i
                      class="feather icon-file-text"></i> Histórico Transferencia</button>

                    </td>
                  </tbody>
                </table>
                <ngb-pagination
                class="d-flex justify-content-center"
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="lista.length"></ngb-pagination>
              </div>
            </app-card>
          </div>
        </div>
