<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Consulta de Fatores" blockClass="table-border-style">
      <form [formGroup]="pesquisaForm" >
        <div class="row">
          <div class="input-group col-md-3" style="margin-left:59%">
            <input type="text"  class="form-control" name="pesquisar"  formControlName="pesquisar"  placeholder="pesquisar">
            <div class="input-group-append">
              <button  type="submit" (click)="pesquisa()" class="btn btn-icon btn-outline-primary"><i class="feather icon-search"></i></button>
            </div>
          </div>
          <button style="margin-left:0%;" type="reset" class="btn btn-outline-warning" (click)="limpar()"><i class="feather icon-delete"></i> Limpar</button>
          <button  style="margin-left:1%;" type="button" class="btn btn-outline-primary"  (click)="cadastrar()" ><i class="feather icon-plus-square"></i> Cadastrar</button>
        </div>
      </form>
      <br>
      <div class="table-responsive" >
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fatores of lista | slice: (page-1) * pageSize : page * pageSize" >
              <td>{{fatores.nome}}</td>
              <td>{{fatores.descricao}}</td>
              <td><label class="badge badge-{{fatores.ativo ? 'info' : 'danger'}}">{{fatores.ativo ? 'Ativo' : 'Inativo'}}</label></td>
              <td class="text-right">
                <button type="button"  (click)="editar(fatores.idFatorRisco)" class="btn btn-icon btn-warning"
                style="font-size: 13px; margin-right: 2%;"><i
                class="feather icon-edit"></i> Editar</button>

                <button type="button" class="btn btn-icon btn-{{fatores.ativo ? 'danger' : 'info'}}" style="font-size: 13px;  margin-right: 2%;" (click)="pegaId(fatores.idFatorRisco);confirmaModal.show()">
                  <i class="feather icon-{{fatores.ativo ? 'minus-circle' : 'power'}}"></i> {{fatores.ativo ? 'Desativar' : 'Ativar'}}</button>
              </td>
            </tbody>
          </table>
          <ngb-pagination
          class="d-flex justify-content-center"
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="lista.length"></ngb-pagination>
        </div>
        <div class="col-md-6">
          {{ mensagem }}
        </div>
      </app-card>
    </div>
  </div>

  <app-ui-modal #confirmaModal [containerClick]="false" >
    <div  class="app-modal-header">
      <h5  class="modal-title">Confirmação</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="confirmaModal.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <p > Tem certeza que deseja {{ varConfirm }} esse item?</p>
    </div>
    <div class="app-modal-footer">
      <div style="float: left; margin-left: 10px;">
        <button type="reset" class="btn btn-outline-warning"  data-dismiss="modal" (click)="confirmaModal.hide()">Não</button>
      </div>
      <div style="margin-left: 100px;">
        <button type="submit" class="btn btn-primary" (click)="mudarStatus();confirmaModal.hide()" >Sim</button>
      </div>
    </div>
  </app-ui-modal>
