.td {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.padding{

  padding: 15px;

}
.button{
 width: 137px;
}
.buttonDrop{
  height: 33px;
   align-items: center;
  }
