<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Consulta de Fatores de Risco" blockClass="table-border-style">
      <div class="row">
        <div class="form-group col-md-3" style="margin-left:62%">
          <input type="text"  class="form-control" name="searchTerm" [(ngModel)]="searchTerm" placeholder="pesquisar"/>
        </div>
        <div>
          <button style="margin-left:-14%;" type="reset" class="btn btn-outline-warning" (click)="limpar()">Limpar</button>
        </div>
        <div>
          <button  style="margin-left:1%;" type="button" class="btn btn-outline-primary"  (click)="cadastrar()" >Cadastrar</button>
        </div>
      </div>
      <div class="table-responsive" >
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" sortable="nome" (sort)="onSort($event)">Nome</th>
              <th scope="col" sortable="descricao"(sort)="onSort($event)">descrição</th>
              <th scope="col" sortable="ativo" (sort)="onSort($event)">status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fatores of lista" >
              <td><ngb-highlight [result]="fatores.nome" [term]="searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="fatores.descricao" [term]="searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="fatores.ativo ? 'Ativo' : 'Inativo'" [term]="searchTerm"></ngb-highlight></td>
              <td class="text-right">
                <button type="button"  (click)="editar(fatores.idFatorRisco)" class="btn btn-icon btn-warning"
                style="font-size: 13px; margin-right: 2%;"><i-bs name="pencil-square"></i-bs> Editar</button>
                <button type="button" class="btn btn-icon btn-info" style="font-size: 13px;  margin-right: 2%;" (click)="desabilitar(fatores.idFatorRisco)"> {{fatores.ativo ? 'Desativar' : 'Ativar'}}</button>
              </td>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
            [collectionSize]="total$" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>

        </div>
      </div>
    </app-card>
  </div>
</div>
