<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Consulta de Procedimentos" blockClass="table-border-style">
      <form [formGroup]="pesquisaForm" >
        <div class="row">
          <div class="col-sm-12">
            <button style="float:right" type="reset" class="btn btn-outline-warning" (click)="limpar()"><i class="feather icon-delete"></i> Limpar</button>
            <div class="input-group col-md-3" style="float:right">
              <input type="text"  class="form-control" name="pesquisar"  (ngModelChange)="refresh()"  formControlName="pesquisar"  placeholder="pesquisar">
              <div class="input-group-append">
                <button  type="submit" (click)="pesquisa()" class="btn btn-icon btn-outline-primary"><i class="feather icon-search"></i></button>
              </div>
            </div>
            <button  style="float:left" type="button" class="btn btn-outline-primary"  (click)="cadastrar()" ><i class="feather icon-plus-square"></i> Cadastrar</button>
          </div>
        </div>
      </form>
      <br>
      <div class="table-responsive" >
        <table class="table table-hover" (ngModelChange)="loadLista()" >
          <thead>
            <tr align="center">
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let procedimentos of lista | slice: (page-1) * pageSize : page * pageSize"align="center" >
              <td class="padding">{{procedimentos.nome}}</td>
              <td class="td padding" >{{procedimentos.descricao}}</td>
              <td class="padding"><label class="badge badge-{{procedimentos.ativo ? 'success' : 'danger'}}">{{procedimentos.ativo ? 'Ativo' : 'Inativo'}}</label></td>
              <td class="padding"  class="text-right" >
                <div ngbDropdown  container="body" >
                  <button placement="left" class="btn btn-info buttonDrop" ngbDropdownToggle type="button" id="opcoes"><i class="feather icon-plus-circle"></i> ações</button>
                  <div ngbDropdownMenu  >
                    <button  class="dropdown-item button" (click)="editar(procedimentos.idProcedimento)"><i class="feather icon-edit"></i> Editar</button>
                    <button class="dropdown-item button"  (click)="pegaId(procedimentos.idProcedimento);confirmaModal.show()"><i class="feather icon-{{procedimentos.ativo ? 'minus-circle' : 'power'}}"></i> {{procedimentos.ativo ? 'Desativar' : 'Ativar'}}</button>
                    <button class="dropdown-item button"  (click)="descricao(procedimentos.idProcedimento)"><i class="feather icon-eye"></i> Visualizar</button>
                  </div>
                </div>
              </td>
            </tbody>
          </table>
          <ngb-pagination *ngIf="statusSpinner===false"
          class="d-flex justify-content-center"
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="lista.length"></ngb-pagination>
        </div>
        <div class="spinner" *ngIf="statusSpinner===true">
            <div  class="spinner-border text-primary size" role="status">
          </div>
        </div>
        <div class="col-md-6">
          {{ mensagem }}
        </div>
      </app-card>
    </div>
  </div>

  <app-ui-modal #confirmaModal [containerClick]="false" >
    <div  class="app-modal-header">
      <h5  class="modal-title">Confirmação</h5>
      <button type="reset" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="confirmaModal.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <p > Tem certeza que deseja {{ varConfirm }} esse item?</p>
    </div>
    <div class="app-modal-footer">
      <div style="float: left; margin-left: 10px;">
        <button type="reset" class="btn btn-outline-warning"  data-dismiss="modal" (click)="confirmaModal.hide()">Não</button>
      </div>
      <div style="margin-left: 100px;">
        <button type="reset" class="btn btn-primary" (click)="mudarStatus();confirmaModal.hide()" >Sim</button>
      </div>
    </div>
  </app-ui-modal>
