.td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.padding{
  padding: 12px;
}
.button{
 width: 137px;
}
.buttonDrop{
  height: 33px;
  }
.spinner{
  margin-left:48.4%;
}
.size{
  width: 2.5rem;
  height: 2.5rem;
}
