<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Consulta de Usuários" blockClass="table-border-style">
        <div class="row">
          <div class="col-12 col-12 col-sm-12 col-md-12 ">
            <button  type="button" class="btn btn-primary font-size"  (click)="cadastrar()" ><i class="feather icon-plus-square"></i> Cadastrar</button>

            <label for="tipodeusuario" class="drop font-size">Tipo:</label>
              <div  class="col-8 col-sm-3 col-md-2 col-lg-2" style="display:inline-block;margin-left:-10px;">
                <select (ngModelChange)="filtroTipoUsuario($event)" class="custom-select font-size" id="perfil"  [(ngModel)]="perfil">
                  <option value=''>Todos</option>
                  <option *ngFor="let perfil of listaPerfis" [value]="perfil">{{perfil}}</option>
                </select>
              </div>
                <label for="ativo" class="font-size">Status:</label>
              <div class="col-8 col-sm-3 col-md-2 col-lg-2" style="display:inline-block;margin-left:-10px;">
                <select (ngModelChange)="filtroStatus($event)" class="custom-select font-size" id="ativo" [(ngModel)]="ativo">
                  <option value=''>Todos</option>
                  <option *ngFor="let ativo of listaAtivo" [value]="ativo.valor">{{ ativo.nome  }}</option>
                </select>
              </div>
              <button style="float:right" type="reset" class="btn btn-warning font-size" (click)="limpar()"><i class="feather icon-delete"></i> Limpar</button>

              <div class="input-group col-md-3" style="float:right">
                  <input type="text"  class="form-control font-size"  name="pesquisa" [(ngModel)]="searchText" (ngModelChange)="verifica()" placeholder="Pesquisar">
              </div>
            </div>
        </div>
      <br>
      <div class="col-md-13">
        <app-alert type="warning" *ngIf="mensagemErro!==''">{{mensagemErro}}</app-alert>
      </div>
      <div class="table-responsive">
        <table class="table table-hover" *ngIf="(lista | filter: searchText).length > 0; else noResults">
          <thead>
            <tr align="center">
              <th style="font-size:12px">Nome</th>
              <th style="font-size:12px">Matrícula</th>
              <th style="font-size:12px">Email</th>
              <th style="font-size:12px">Tipo</th>
              <th style="font-size:12px">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of lista | filter: searchText | paginate: { itemsPerPage: contador, currentPage: paginaAtual }" align="center">
              <td class="padding">{{user.nome}}</td>
              <td class="padding">{{user.matricula}}</td>
              <td class="padding">{{user.email}}</td>
               <td class="padding">{{user.perfil}}</td>
              <td class="padding"><label class="badge badge-{{user.ativo ? 'success' : 'danger'}}">{{user.ativo ? 'Ativo' : 'Inativo'}}</label></td>
              <td class="padding text-right" >
                <div ngbDropdown  container="body" >
                  <button placement="left"  class="btn btn-info buttonDrop font-size" ngbDropdownToggle type="button" id="opcoes"><i class="feather icon-plus-circle"></i> ações</button>
                  <div ngbDropdownMenu  >
                    <button *ngIf="user.ativo=== true"  class="dropdown-item button font-size" (click)="editar(user)"><i class="feather icon-edit"></i> Editar</button>
                    <button class="dropdown-item button font-size"  (click)="pegaUsuario(user);confirmaModal.show()"><i class="feather icon-{{user.ativo ? 'minus-circle' : 'power'}}"></i> {{user.ativo ? 'Desativar' : 'Ativar'}}</button>
                  </div>
                </div>
              </td>
            </tbody>
          </table>
          <pagination-controls *ngIf="statusSpinner===false && lista.length > 0" maxSize="5" responsive="true" directionLinks="true" autoHide="true" class="d-flex justify-content-center" (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
          <ng-template #noResults>
            <p *ngIf="statusSpinner === false">Nenhum resultado encontrado.</p>
          </ng-template>
        </div>
        <div class="spinner" *ngIf="statusSpinner === true">
          <div class="spinner-border text-primary size" role="status"></div>
        </div>
      </app-card>
    </div>
  </div>

  <app-ui-modal #confirmaModal [containerClick]="false" >
    <div  class="app-modal-header">
      <h5  class="modal-title">Confirmação</h5>
      <button type="reset" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="confirmaModal.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <p > Tem certeza que deseja {{ varConfirm }} esse item?</p>
    </div>
    <div class="app-modal-footer">
      <div style="float: left; margin-left: 10px; ">
        <button type="reset" class="btn btn-outline-warning"  data-dismiss="modal" (click)="confirmaModal.hide()">Não</button>
      </div>
      <div style="margin-left: 100px;">
        <button type="reset" class="btn btn-primary" (click)="mudarStatus();confirmaModal.hide()" >Sim</button>
      </div>
    </div>
  </app-ui-modal>
