<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Consulta de Usuários" blockClass="table-border-style">
      <div class="row">
        <div class="form-group col-md-3" style="margin-left:62%">
          <input type="text"  class="form-control" name="pesquisa" [(ngModel)]="searchText" placeholder="pesquisar">
        </div>
        <div>
          <button style="margin-left:-14%;" type="reset" class="btn btn-outline-warning" (click)="limpar()">Limpar</button>
        </div>
        <div>
          <button  style="margin-left:1%;" type="button" class="btn btn-outline-primary"  (click)="cadastrar()" >Cadastrar</button>
        </div>

        <div class="col-md-6">
          <app-alert type="primary" *ngIf="sucesso == true">salvo com sucesso</app-alert>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Matrícula</th>
              <th>Email</th>
              <th>Status</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of lista | slice: (page-1) * pageSize : page * pageSize">
              <td>{{user.nome}}</td>
              <td>{{user.matricula}}</td>
              <td>{{user.email}}</td>
              <td>{{user.status ? 'Ativo' : 'Inativo'}}</td>
              <td>{{user.tipousuario.nome}}</td>
              <td class="text-right">
                <button type="button" class="btn btn-icon btn-warning" style="font-size: 13px; margin-right: 2%;"(click)="editar(user.idUsuario)"><i
                    class="feather icon-edit"></i> Editar</button>

                <button type="button" class="btn btn-icon btn-info" style="font-size: 13px;  margin-right: 2%;" > {{user.status ? 'Desativar' : 'Ativar'}}</button>
              </td>
          </tbody>
        </table>
        </div>
        <ngb-pagination
        class="d-flex justify-content-center"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="lista.length"></ngb-pagination>
    </app-card>
  </div>
</div>
