
.mt-n1 {
  margin-top: 60px !important;
}
.mt-n2 {
  position: relative;
     top: 64px;
}
.mt-n3 {
  position: relative;
     top: 100px;
}
.field-size{
  height:45px;
}
.field-size-botton{
  height:37px;
  width: 210px;

}
.button{
  position: relative;
  margin: 0 auto;
     top: 204px;
}
.esq{
  position: relative;
     top: 183px;
}
.font-red {
  color: #F05151;
}
.border-red {
  border: 1px solid #F05151;
}
